.communication-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-height: 90px;
}

.communication-list__item {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  height: inherit;
  padding: 25px 1vw;
  align-items: center;
  position: relative;
}

.communication-list__item:hover .communication-list__submenu-wrapper {
  display: block;
}

.communication-list__item:hover .salons__drop-down-list-icon {
  transform: none;
}

.communication-list__item-wrapper {
  min-width: min-content;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  height: inherit;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.communication-list__submenu-wrapper {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0px 10px;
  z-index: 1000;
}

.communication-list__submenu {
  padding: 10px;
  text-align: center;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  background-color: #e1e1e1;
  text-transform: uppercase;
  border: 3px solid #00868a;
  border-radius: 5px;
}

.communication-list__submenu li {
  background-color: #ffffff;
  padding: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.communication-list__submenu li img {
  height: 100%;
}

.communication-list__submenu li a {
  color: black;
}

.communication-list__submenu li:not(:last-child) {
  margin-bottom: 20px;
}

.communication-list__logo .logo__company-name {
  margin-left: 8px;
}

.communication-list__phone-number {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
}

.communication-list__salons .salons__text {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  margin-right: 16px;
}

.communication-list__salons .salons__drop-down-list-icon {
  transform: rotate(90deg);
}

.communication-list__salons-wrapper {
  display: block;
}

.communication-list__poor-eyesight {
  background-color: #00868a;
  border: 0;
  padding: 0 15px;
}

.communication-list__poor-eyesight .poor-eyesight__text {
  margin-left: 10px;
  color: #ffffff;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.communication-list__social-media-icon {
  box-shadow: none;
  width: 2vw;
  max-width: 50px;
}

.communication-list__media-wrapper {
  display: none;
}

.communication-list__menu-bar-wrapper {
  display: none;
  cursor: pointer;
}

.communication-list__copyright {
  font-size: 12px;
  padding: 10px;
}

.communication-list__privacy {
  padding: 12px;
  white-space: nowrap;
}
