.address {
    &__list {
        & > li {
            margin-bottom: 30px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 11px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.5;
        margin-bottom: 10px;
    }

    &__info {
        font-size: 21px;
        line-height: 150%;
        color: #000000;
        margin-bottom: 15px;
        font-weight: bold;
        white-space: nowrap;
    }

    &__more-btn {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
    }
}

.address {
    @media (max-width: 992px) {
        &__info {
            font-size: 18px;
        }

        &__more-btn {
            font-size: 14px;
        }
    }

    @media (max-width: 768px) {
    }

    @media (max-width: 600px) {
        text-align: center;
        &__title {
            font-size: 16px;
        }

        &__info {
            font-size: 28px;
        }

        &__more-btn {
            margin: 0 auto;
            font-size: 18px;
            padding: 20px 30px;
        }
    }
}
