@import "_mixins.scss";

.aesthetics {
    flex: 55%;
    padding: 35px 0 45px;

    &__top {
        margin-bottom: 45px;
    }

    &__middle {
        display: flex;
    }
}

.middle {
    &__list {
        z-index: 1000;
        flex: auto;
        width: 120px;
    }
    &__picture-patent {
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
        max-width: 320px;
        max-height: 100%;
        img {
            max-height: 100%;
            width: 100%;
            box-shadow: 0 0 5px rgb(204, 204, 204);
        }
    }
}

.list {
    &__item {
        z-index: 1;
        display: flex;
        align-items: center;
        width: 220px;
        &:not(:last-child) {
            padding-bottom: 30px;
        }
    }
    &__active {
        width: 400px;
        .item {
            &__number {
                opacity: 1;
                font-size: 96px;
                line-height: 150%;
                color: #00868a;
            }

            &__title {
                opacity: 1;
                overflow: hidden;
                font-weight: 500;
                font-size: 24px;
                line-height: 150%;
            }
        }
    }
}

.item {
    &__number {
        opacity: 0.6;
        font-weight: 500;
        font-size: 48px;
        line-height: 150%;
    }

    &__title {
        opacity: 0.6;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        margin-left: 20px;
    }
}
.aesthetics {
    @media (max-width: 992px) {
        .item {
            &__number {
                font-size: 48px;
            }

            &__title {
                font-size: 14px;
            }
        }
    }

    .list {
        &__active {
            width: 300px;
            .item {
                &__number {
                    font-size: 64px;
                }

                &__title {
                    font-size: 18px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        padding: 35px 35px 0 35px;
        .top {
            &__mark {
                margin-left: 35px;
            }
        }
    }
    @media (max-width: 600px) {
        padding: 35px 0 0 0;
        .item {
            &__number {
                font-size: 28px;
            }

            &__title {
                font-size: 12px;
            }
        }

        .list {
            &__active {
                width: 300px;
                .item {
                    &__number {
                        font-size: 36px;
                    }

                    &__title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
