@import "_mixins.scss";


.header {
    @media (max-width: 992px) {
        .communication-list {
            justify-content: space-around;
            &__item {
                border: 0;
                &:first-child {
                    border: 0;
                }
                &:last-child {
                    border: 0;
                }
            }
            &__logo {
                .logo {
                    &__company-name {
                        display: none;
                    }
                }
            }
            &__salons {
                .salons {
                    &__text {
                        margin-right: 4px;
                    }
                }
            }
            &__phone-number {
                @include adaptiv-font(20, 18);
            }

            &__poor-eyesight {
                padding: 0 8px;
                border-radius: 50%;
                width: 40px;
                .poor-eyesight {
                    &__text {
                        display: none;
                    }
                }
            }
            &__social-media-icon {
                box-shadow: none;
                width: 40px;
            }
            &__salons {
                .salons {
                    &__text {
                        @include adaptiv-font(20, 18);
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        .communication-list {
            &__social-media-icon-wrapper {
                display: none;
            }
            &__salons-wrapper,
            &__media-wrapper {
                display: block;
            }
        }
    }

    @media (max-width: 600px) {
        .communication-list {
            justify-content: space-around;
            &__item {
                border: 0;
                &:first-child {
                    border: 0;
                }
                &:last-child {
                    border: 0;
                }
            }

            &__social-media-icon-wrapper,
            &__salons-wrapper,
            &__media-wrapper,
            &__salons-wrapper {
                display: none;
            }

            &__menu-bar-wrapper {
                display: block;
            }

            &__menu-bar {
                img {
                    height: 135%;
                }
            }
            &__phone-number {
                font-size: 15px;
            }
        }
    }
}
